<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwt.mapper.RegisterMapper">
    <insert id="register" parameterType="userDto">
        insert  into user (username,password) values(#{username},#{password})
    </insert>
    <select id="selectDup" resultType="user">
        select *  from user where username=#{username} limit 1
    </select>
</mapper>
